<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>{{animal['name']}}</title>
</head>
<body>
    <div id="container">
        <header>
            <h1>Meet {{ animal['name'] }}!</h1>
        </header>
        <body>
        <nav id="navbar">
            <a href = "{{ indexLink }}">Back to Shelter</a>
        </nav>

        <main>
            {% if animal %}
                <div id = "animal-info">
                    <h2>Hi! I'm {{ animal['name'] }}!</h2>
                    <p>Status: {{ animal['status'] }}</p>
                    <p>Type: {{ animal['type'] }}, {{ animal['breed'] }}</p>
                    <p>Sex: {{ animal['sex'] }}</p>
                    <p>Date Arrived: {{ animal['date_time_arrived'] }}</p>

                    {% if animal['vaccines'] == '1' %}
                        <p>Vaccines Completed: Yes</p>
                    {% else %}
                        <p>Vaccines Completed: No</p>
                    {% endif %}

                    {% if animal['spayed_neutered'] == '1' %}
                        <p>Spayed/Neutered: Yes</p>
                    {% else %}
                        <p>Spayed/Neutered: No</p>
                    {% endif %}
                </div>
            {% endif %}
        </main>
        </body>
        <footer>Work in progress.</a></footer>
    </div>
</body>
</html>
