<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>All Animals</title>
</head>
<body>
    <div id="container">
        <header>
            <h1>{{ shelter['name'] }}'s Animals</h1>
        </header>

        <nav id="navbar">
            <a href = "{{ indexLink }}">Back to Shelter</a>
            <a href="#">Something Else, IDK</a>
        </nav>

        <main>
            {% if animals %}
            <div id = "grid">
                {% for animal in animals %}
                    <a href="/animal/{{ shelter['shelter_id'] }}/{{ animal['animal_id'] }}">
                        <h2>{{ animal['name'] }}</h2>
                        <p>{{ animal['type'] }}</p>
                        <p>{{ animal['breed'] }}</p>
                        <p>{{ animal['sex'] }}</p>
                    </a>
                {% endfor %}
            </div>
            {% endif %}
        </main>

        <footer>Work in progress.</footer>
    </div>
</body>
</html>

<!--source for button shtuff https://www.w3schools.com/tags/tag_button.asp-->
