<!doctype html>
<html>
<head>
    <title>All Animals</title>
</head>
<body>
    <div id="container">
        <header>
            {% if shelter %}
                <p>{{ shelter['name'] }}'s Animals</p>
            {% else %}
                <p>All Animals</p>
            {% endif %}
        </header>
        <nav id="navbar">
            <a href="index.html">All Animals</a>
            <a href="#">Something Else, IDK</a>
        </nav>

        <body>
            {% if animals %}
                {% for animal in animals %}
                    <div><p>{{ animal['name'] }} 
                        <b>{{ animal['type'] }}, {{ animal['breed'] }}</b>
                        <b>{{ animal['sex'] }}</b>
                    </p></div>
                {% endfor %}
            {% endif %}
        </body>

        <footer>Work in progress.</a></footer>
    </div>
</body>
</html>