<!doctype html>
<html>
<head>
    <!-- Looked up "flask with render template how to show CSS" on google and the AI showed me that I had to move the 
    CSS file into a folder named static and to put this line in my HTML code. -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>All Shelters</title>
</head>
<body>
    <div id="container">
        <header>
            <h1>All Shelters</h1>
        </header>

        <nav id="navbar">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('logout') }}" class="nav-button">Logout</a>
            {% else %}
                <a href = "login.html">Login</a>
                <a href="signup.html">Sign Up</a>
            {% endif %}
        </nav>

        <main>
            <div id = "grid">
            {% for shelter in shelters %}
                <a href="/home/{{ shelter['shelter_id'] }}">
                    <h2>{{ shelter['name'] }}</h2>
                    <p>{{ shelter['street1'] }}</p>
                    {% if shelter['street2'] %}
                        <p>{{ shelter['street2'] }}</p>
                    {% endif %}
                    <p>{{ shelter['city'] }}, {{ shelter['state'] }} {{ shelter['zip'] }}</p>
                </a>
            {% endfor %}
            </div>
        </main>

        <footer>Work in progress.</a></footer>
    </div>
</body>
</html>