<!doctype html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <div id="container">
        <header>
            <p>Login</p>
        </header>
        <nav id="navbar">
            <a href = "/">Back</a>
        </nav>

        <body>
            <form action="/login.html" method="POST">
                <br>
                <label for = "username">Username:</label><br>
                <input type = "text" id = "useranme" name = "username" maxlength="50"><br>
                <label for = "password">Password:</label><br>
                <input type = "password" id = "password" name = "password" maxlength="50"><br>
                <br>
                <input type="submit" value="Login">
            </form>
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
        </body>
        <footer>Work in progress.</a></footer>
    </div>
</body>
</html>
