header {
    font-size: larger;
    background-color: #84a98c;
    align-content:center;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    background-color: #cad2c5;
    padding: 10px 1%;
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    text-decoration: none;
    padding: 10px;
    color: black;
}

nav a:visited {
    color: black;
}

nav a:hover {
    margin: 0;
    background-color: #84a98c;
}

main {
    padding: 1%;
}

#grid {
    display:grid;
    grid-template-columns: auto auto auto auto;
}

#grid a {
    background-color: lightgrey;
    padding: 5px 15px;
}

footer {
    background-color: #cad2c5;
    padding: 10px 1%;
}