header {
    font-size: larger;
    background-color: #84a98c;
    align-content:center;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    background-color: #cad2c5;
    padding: 10px 1%;
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    padding: 10px;
    color: black;
}

nav a:visited {
    color: black;
}

nav a:hover {
    margin: 0;
    background-color: #84a98c;
}

main {
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
}

/* I didn't know how to get the shelters to display like a grid so I looked up on google 
"how to have flask posts display in grid format" and honestly the AI wasn't a big help besides mentioning using a div for the grid. I 
then looked up on W3 grids and went used their grid page (https://www.w3schools.com/css/css_grid.asp) to help me set this up. */
#grid {
    display:grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}

#grid a {
    color: black;
    text-decoration:none;
    background-color: #cad2c5;
    padding: 5px 15px;
}

#grid a:hover {
    background-color: #84a98c;
}

footer {
    background-color: #84a98c;
    padding: 10px 1%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}